.game-section {
   width: 100%;
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 75px 1fr 75px;
}

.game-section > img {
   width: 75px;
   height: 75px;
   align-self: center;
   margin: 0px auto;
   margin-bottom: var(--px-xl);
   cursor: pointer;
}

.next-game {
   justify-self: flex-end;
}

.rps-color {
   background-color: var(--rps-primary);
   transition: 0.5s;
}

.bingo-color {
   background-color: var(--bingo-primary);
   transition: 0.5s;
}

.memory-color {
   background-color: var(--memory-primary);
   transition: 0.5s;
}

.threeinrow-color {
   background-color: var(--threeinrow-primary);
   transition: 0.5s;
}
