.game-section {
   height: 100%;
   display: flex;
   flex-direction: column;
}

.change-game {
   position: fixed;
   bottom: 0;
   height: 75px;
   width: 100%;
   display: flex;
   justify-content: space-around;
}

.change-game > img {
   height: 100%;
   cursor: pointer;
}

.rps-color {
   background-color: var(--rps-primary);
   transition: 0.5s;
}

.bingo-color {
   background-color: var(--bingo-primary);
   transition: 0.5s;
}

.memory-color {
   background-color: var(--memory-primary);
   transition: 0.5s;
}

.threeinrow-color {
   background-color: var(--threeinrow-primary);
   transition: 0.5s;
}

@media (max-width: 500px) {
   .change-game {
      justify-content: space-between;
   }
}
